* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Condensed', DINRoundPro, sans-serif;
  font-size: 20px;
  overflow: hidden;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .main-container {
    flex-grow: 1;
    background-color: #ececec;
    .main{
      height: 100%;
    }
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: inherit;
  cursor: pointer;

  * {
    pointer-events: none;
  }
}

input {
  font-family: inherit;
  text-align: inherit;
}
