.home-page {
  text-align: center;
  font-size: rem(30px);
  height: 100%;
  .welcome-msg {
    margin-bottom: 2rem;
  }
  .link-to-chat {
    text-decoration: none;
    &:hover {
      opacity: 0.6;
    }
  }
}
