.app-header-constainer {
  background: rgb(248, 132, 26);
  background: linear-gradient(
    45deg,
    rgba(248, 132, 26, 1) 0%,
    rgba(251, 3, 17, 1) 50%,
    rgba(240, 14, 81, 1) 100%
  );
  color: white;
  
  .app-header {
    .header-link {
      margin-right: 1rem;
      color: $clr-headerLink;
      
    }
    .active {
      color: white;
      transition: all 0.3;
      text-decoration: underline;
    }
  }
}
